/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
.phpunit.xml
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/.phpstorm.meta.php
.phpstorm.meta.php
.phpunit.*
_ide_helper.php
/_ide_helper.php
*.patch
